/* @font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
    background-color: whitesmoke;
}



html {
    font-size: 90%;
    /* scroll-behavior: smooth; */
    scroll-padding-top: 6rem;
    overflow-x: auto;
    box-sizing: border-box;
}
section{
    position: static;
}


header{
    position:static;
    top: 70%;
    margin:0 auto;
    text-align:center; 
    align-items: center;
    justify-content:space-around;
    display: flex;
    width: 100%;
}


header h1>a {

    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: inline-block; */
    text-align: center;

  
    
}
 .nav ul li a{
    font:bold 13px "malgun gothic";
    color:black;
    /* display: flex;    */
    
}

header .nav ul li {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    /* 글자 위치 칸 생성 */
    display:inline-block;
    width: 80px;
    height: 30px;
    /* text-align:center; */

}


.nav ul li a:hover {
    color: burlywood;
}

/* ul li태그에 리스트 스타일을 없앰 */
ul li{
    list-style: none;

}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color:#333;
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
.menu {
    font:bold 16px "malgun gothic";
    width: 800px;
    height:100px;
    color:black;
    line-height: 50px; 
    margin:0 auto;
    text-align: center;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
.menu > ul > li {
    float:left;
    width: 150px;
    position:static;
    /* background-color:gainsboro; */
}
.menu > ul > li > ul {
    width:140px;
    display:none;
    position: absolute;
    font-size:13px;
    background-position: 10px;
}

.menu > ul > li:hover > ul {
    display:block;
}

.menu > ul > li > ul > li a:hover {
    color: burlywood;
    transition: ease 0.2s;
    }



.products .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    /* position: absolute; */
    /* bottom: 10px; */
    
    


}
.products .box-container.box{
    /* flex: 1 1 30rem; */
    border-radius: 5px;
    position:relative;
    top: 100px;
    text-align: center;

}
.products .box-container .box .image{
    position: static;
    text-align: center;
    padding-top: 90px;
    overflow:hidden;
}
.products .box-container .box .image img{
    height:20px;
    max-width: 10%;
    display: flex;
    
}


.products .box-container .box .content{
    padding: 10px;
    text-align: center;
 
}

.content h3>a{
    font-size: 20px;
    color:black;
    font-weight: bolder;   
}


.products .box-container .box .content .price{
    font-size: 16px;
    color:black;
    font-weight: lighter;
    
}

